<div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">  Curso Angular </h3>
    <h6 class="text-light" > Francis Sanchez </h6>
    <hr class="text-white">
    <div class="list-group list-reset">
        <button routerLink="gifs" class="btn btn-light rounded-pill px-3">
           GIFS
        </button>
    </div> 
    <hr class="text-white">
    <div class="list-group list-reset">
        <button class="btn btn-light rounded-pill px-3">
           PAISES
        </button>
        <div class="list-group list-reset">
            <ul class="list-group" style="cursor:pointer;">
                <li routerLink="paises" routerLinkActive="active" class="btn btn-info rounded-pill px-3" >Buscar País</li>
                <li routerLink="continentes" routerLinkActive="active" class="btn btn-info rounded-pill px-3" type="button">Por Región</li>
                <li routerLink="regiones" routerLinkActive="active" class="btn btn-info rounded-pill px-3" type="button">Por Capital</li>
                
              </ul>              
        </div>
    </div> 

    
</div>

